#jinja2: lstrip_blocks: "True"
{% set distro = ansible_distribution + "_" + ansible_distribution_major_version %}
{% for group in packages_common.items() %}
    {% if group[0] | lower == "all" %}
        {% for name, status in group[1].items() %}
            {%- if status == "present" -%}
                {{ name }}: present
            {% endif %}
            {%- if status == "absent" -%}
                {{ name }}: absent
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if group[0] | lower == distro | lower %}
        {% for name, status in group[1].items() %}
            {%- if status == "present" -%}
                {{ name }}: present
            {% endif %}
            {%- if status == "absent" -%}
                {{ name }}: absent
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
